// Variables
@import 'variables';

body{
    font-family:"Roboto";
}

.landing{
    .lys-nav{
        box-shadow: 0 3px 12px rgba(0,0,0,0.12), 0 3px 32px rgba(0,0,0,0.18);
        background:#f5f5f5;
        .container{
            display:flex;
            align-items:center;
            padding-top:0.45em;
            padding-bottom:0.45em;
            .nav-links{
                color:$lys-black;
                text-transform: uppercase;
                padding-left:1em;
                padding-right:1em;
                .logo{
                    width:256px;
                }
            }
            .nav-links:hover{
                color:$lys-black-hover;
                text-decoration: none;
            }
            .spacing{
                margin-left:auto;
            }
        }

    }

    .content{
        min-height:100vh;
        margin:0;
        padding:0;
        .landing-container{
            background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../images/LYS-29.jpg);
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display:flex;
            align-items:center;
            justify-content:center;
            .landing-content{
                display:flex;
                align-items:center;
                justify-content:center;
                flex-direction:column;
                height:100vh;
                .landing-image{
                    width:35em;
                }
                .landing-phone{
                    display:flex;
                    align-items:center;
                    h4{
                        color:$lys-color;
                        font-family: "Noticia Text", sans-serif;
                        font-size: 1.8em;
                        font-weight: bold;
                        letter-spacing:0.25em;

                        margin-bottom:1em;
                        margin-top:-0.25em;
                        i{
                            font-size:1em;
                            margin-right:0.45em;
                        }
                    }
                    h4:hover{
                        color:#fff;
                    }
                }
                .landing-title{
                    max-width:25em;
                    h6{
                        color:#fff;
                        text-align:center;
                        span{
                            color:$lys-color;
                        }
                    }
                }
                .landing-subtitle{
                    max-width:25em;
                    p{
                        color:$lys-color;
                        text-align:center;
                    }
                }
            }
        }

        .practices{
            display:flex;
            flex-direction: column;
            align-items:center;
            padding-top:5%;
            min-height:100vh;
            .title-container{
                border-top: 1px solid $lys-color;
                border-bottom: 1px solid $lys-color;
                width:32em;
                padding-top:0.5em;
                padding-bottom:0.5em;
                h2{
                    font-family:"Noticia Text";
                    text-align:center;
                    text-transform: uppercase;
                    letter-spacing:0.2em;
                }
            }
            .content-container{
                margin-top:2em;
                display:flex;
                justify-content:space-between;
                .practice-col{
                    margin-left:2em;
                    .practice-container{
                        display:flex;
                        padding:1em;
                        .practice-icon-container{
                            box-shadow: rgba(0, 0, 0, 0.25) 5px 1px 0.5em;
                            color: rgb(34, 34, 34);
                            border-radius:100%;
                            padding: 2.25em;
                            i{
                                font-size:1.45em;
                            }
                        }
                        .practice-title-container{
                            h4{
                                margin-top:1em;
                                font-family:"Raleway";
                                text-transform: uppercase;
                                font-size:1.5em;
                                padding-left:1em;
                                span{
                                    font-size:1.85em;
                                    color:#4C4C4C;
                                    margin-right:0;
                                }
                            }
                        }
                    }
                }
            }
            .profile-content-container{
                display:flex;
                flex-direction:column;
                align-items:center;
                padding-bottom:2.5em;
                .spacing{
                    margin-top:1.5em;
                }
                p{
                    text-indent: 2.5em;
                    color:$lys-black;
                    text-align: justify;
                    font-family:"Roboto";
                    font-size: 1.2em;
                    width:70%;
                }
            }
        }

        .profile{
            display:flex;
            flex-direction: column;
            align-items:center;
            padding-top:5%;
            min-height:100vh;
            background-image:url("../images/zwartevilt_@2X.jpg");
            border-bottom:1px solid #fff;
            .title-container{
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                width:32em;
                padding-top:0.5em;
                padding-bottom:0.5em;
                h2{
                    color:#fff;
                    font-family:"Noticia Text";
                    text-align:center;
                    text-transform: uppercase;
                    letter-spacing:0.2em;
                }
            }
            .content-container{
                display:flex;
                flex-direction:column;
                align-items:center;
                padding-bottom:2.5em;
                .spacing{
                    margin-top:1.5em;
                }
                p{
                    text-indent: 2.5em;
                    color: rgb(242, 242, 242);
                    text-align: justify;
                    font-family:"Roboto";
                    font-size: 1.2em;
                    width:70%;
                }
            }
        }
    }

    .footer{
        background-image:url("../images/zwartevilt_@2X.jpg");
        display:flex;
        align-items:center;
        justify-content:space-around;
        padding-top:1.5em;
        padding-bottom:1.5em;
        img{
            width:15em;
            margin-left:-5em;
        }
        .copyright{
            margin-top:1.5em;
            p{
                color:#fff;
                font-family:"Noticia Text";
                text-align:center;
                span{
                    color:$lys-color;
                }
            }
            .phone{
                letter-spacing:2px;
            }
            .email{
                letter-spacing:1px;
            }
            .info{
                font-size:1.2em;
            }
            .bot-text{
                font-size:0.8em;
                margin-top:-1em;
            }
        }
    }
}